body {
    background-color: #Fed100;
    font-family: 'Bitter', serif;
}


h1 {
font-size: 2rem;
font-family: 'Open Sans', sans-serif;
}

h2 {
font-size: 1.5rem;
font-family: 'Open Sans', sans-serif;
}
