body {
    background-color: #fed100;
}


img {
	margin-left: 20%;
	margin-right: 20%;
	
	
}


#unique_image {
border: 20px solid black;	
	
	
}



.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
	
	